:root{
    --color-violet: hsl(228, 45%, 44%);
    --color-white: #FFFFFF;
    --color-futter: #07043b;
    --raleway:'Raleway', sans-serif;
    --open-sans:'Open Sans', sans-serif;
}

.container{
    background: url(images/bg-curve-desktop.svg), linear-gradient(to top,#f9f8fe 0%, #f9f8fe 49%,white 49%,white 100% );
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
}

body{
    color: var(--color-futter);
    padding: 0px;
    margin: 0px;
    font-family: var(--open-sans)
}

.header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 40px;
    font-family: var(--raleway);
}

img{
    width: 100%;
}

input{
    font-family: var(--open-sans);
    padding: 1em;
    border-radius: 3px;
    border-width: 1px;
}

button{
    border: none;
    color: var(--color-white);
    font-size: 0.8em;
    border-radius: 3px;
    background-color: #2f65f9;
    padding: 0.5em 3em;
    font-family: var(--raleway)
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
}

.menu a{
    font-size: 1em;
    color: var(--color-violet);
    text-decoration: none;
    margin: 10px;
}

.productive-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 50px;
}

.review{
    border-radius: 7px;
    background-color: white;
    width: 50%;
    padding: 0;
    box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.10);
}

.quotes{
    width: 20px;
    height: 20px;
    padding: 1em 2em;
}

.review p{
    padding: 0 2em;
    margin: 0;
}
    
.review-detail img{
    margin: 0 1em 2em 2em;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.review-detail{
    display: flex;
    align-items: center;
}

.review-detail small{
    display: block;
    font-weight: 400; 
}

.from-grid-title{
    margin: 0px;
}

.form-grid{
    color: var(--color-white);
    background-color: #575989;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 3em;
}

.form-grid button{
    width: 50%;
}

.input-btn2{
    display: grid;
    grid-template-rows: 40px 40px;
    gap: 1em;
}

footer{
    margin: 0px;
    padding: 0px;
    background-color: var(--color-futter);
}

footer img{
    width: 166px;
    height: 49px;
    margin: 1em 0;
}
.input-btn{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
}

.info{
    padding: 50px;
}

.information{
    line-height: 2em;
    margin: 0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--color-white);
    gap: 1em;
    font-size: 1em;  
}

.link-fylo{
    display: inline-block;
    list-style: none;
    margin-bottom: 2em;
}

.link-fylo a{
    text-decoration: none;
    color: #63dcd8; 
    padding-right: 25px;
    border-bottom: 1px solid #63dcd8;
    background: url(images/icon-arrow.svg) no-repeat right ;   
    background-size: 20px;
}

.information p{
    margin: 0;
}

.information ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.information a{
    text-decoration: none;
    color: var(--color-white);
}

.contact-information{
    display: grid;
    grid-template-rows: 40px 40px;
    gap: 1em;
}

.social{
    display: flex;
}

.social a{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
}
.phone{
    background: url(images/icon-phone.svg) no-repeat left top 5px;
    background-size: 20px ;
    padding-left: 40px;
}

.email{
    background: url(images/icon-email.svg) no-repeat left top 5px;
    background-size: 20px;
    padding-left: 40px;
}

@media screen and (max-width: 768px){
    .form-grid{
        display: block;
        text-align: center;              
    }
    .form-grid button{
        padding: 0;
        width: 100%;
    }

    .form-grid input{
        padding: 0 0 0 1em; 
    }

    .productive-grid{
        grid-template-columns: 1fr;
        text-align: center;

    }
    .productive-grid .ilustracion{
        grid-row: -1;
    }

    .productive-grid button{
        padding: 13px;
    }

    .review{
        padding: 0px;
        width: 100%;
        text-align: left;
    }

    .input-btn{
        grid-template-columns: 1fr;
    }

    .information{
        grid-template-columns: 1fr;
    }

    .social{
        justify-content: center;
    }
    
    .container{
        background: url(images/bg-curve-mobile.svg), linear-gradient(to top,#f9f8fe 0%, #f9f8fe 49%,white 49%,white 100% );
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center ;
    }
}